.row
  .col-xs-12
    h1 {{title}}
.row
  h4 Ionic Games
  .col-xs-1
  .col-xs-5
    #flushot
    .git: h3: a(href='https://github.com/shrutijalewar/flushot', target='_blank').fa.fa-github
    .play: h3: a(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpvirusgame730011&hl=en', target='_blank').fa.fa-android
  .col-xs-5
  .col-xs-1
.row
  h4 Phaser.io Games
  .col-xs-1
  .col-xs-5
    #oz
    .git: h3: a(href='https://github.com/shrutijalewar/oz', role='button', target='_blank').fa.fa-github
    .play: h3: a(href='http://shrutijalewar.github.io/oz', role='button', target='_blank').fa.fa-play
  .col-xs-5
    #roundup
    .git: h3: a(href='https://github.com/shrutijalewar/roundup', target='_blank').fa.fa-github
    .play: h3: a(href='http://shrutijalewar.github.io/roundup', target='_blank').fa.fa-play
  .col-xs-1
.row
  h4 Node Apps
  .col-xs-1
  .col-xs-5
    h3 Hipsterbay
    h5 Ebay spin off to exchange goods with other hipsters.
    #hipsterbay
    .git: h3: a(href='https://github.com/shrutijalewar/hipsterbay', target='_blank').fa.fa-github
    .play: h3: a(href='http://hipsterbay.shrutijalewar.com', target='_blank').fa.fa-play
  .col-xs-5
    h3 Unmarked White Van
    h5 A dating website for serial killers.
    #uwv
    .git: h3: a(href='https://github.com/shrutijalewar/white-van', target='_blank').fa.fa-github
    .play: h3: a(href='http://uwv.shrutijalewar.com/', target='_blank').fa.fa-play
  .col-xs-1
.row
  h4 Angular Apps
  h3 Sugar and Spice
  h5 An online cookbook to store all your culinary secrets.
  .col-xs-1
  .col-xs-5
    #capstone
    .git: h3: a(href='https://github.com/shrutijalewar/capstone', target='_blank').fa.fa-github
    .play: h3: a(href='http://sugarandspice.shrutijalewar.com/#/', target='_blank').fa.fa-play
  .col-xs-5
  .col-xs-1
.row
  .col-xs-12
