.row
  .col-xs-12
    h1 {{title}}
.row
  h4 Ionic Games 
  .col-xs-1
  .col-xs-5
    img.photo3(src='../../assets/influenza.png')
    a.btn.btn-default.btn-sm.active#git(href='https://github.com/shrutijalewar/flushot', target='_blank').fa.fa-github &nbsp View on Github
    a.btn.btn-default.btn-sm.active#play(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpvirusgame730011&hl=en', target='_blank').fa.fa-android &nbsp View on Google Play
  .col-xs-5
  .col-xs-1
.row
  h4 Phaser.io Games
  .col-xs-1
  .col-xs-5
    img.game(src='../../assets/oz.png')
    a.btn.btn-default.btn-sm.active#git(href='https://github.com/shrutijalewar/oz', role='button', target='_blank').fa.fa-github &nbsp View on Github
    a.btn.btn-default.btn-sm.active#play(href='http://shrutijalewar.github.io/oz', role='button', target='_blank').fa.fa-play &nbsp Play Game
  .col-xs-5
    img.game(src='../../assets/roundup.png')
    a.btn.btn-default.btn-sm.active#git(href='https://github.com/shrutijalewar/roundup', target='_blank').fa.fa-github &nbsp View on Github
    a.btn.btn-default.btn-sm.active#play(href='http://shrutijalewar.github.io/roundup', target='_blank').fa.fa-play &nbsp Play Game
  .col-xs-1
