#PG
  .row
    .col-sm-12
      h1 {{title}}
  .row
    h2 Angular Apps
    .col-sm-1
    .col-sm-5
      .caps
        h3 Sugar and Spice
        h5 An online cookbook to search recipes store links and all your culinary secrets.
        h5 Individual Half-Way Capstone
        #capstone: a(href='http://sugarandspice.shrutijalewar.com', target='_blank')
        .buttons
          a(href='https://github.com/shrutijalewar/capstone', target='_blank').fa.fa-github.fa.fa-3x
          a(href='http://sugarandspice.shrutijalewar.com/#/', target='_blank').fa.fa-play.fa.fa-3x
    .col-sm-5
    .col-sm-1
  .row
    h2 Phaser.io Games
    .col-sm-1
    .col-sm-5
      h3 Journey of Oscar Diggs
      h5 Join Oscar Diggs in his journey from Kansas to Oz in the quest to become a wizard
      h5 Team: Brain Hiatt, Liza Carter, Kayla Jones, Daniel Roden
      #oz: a(href='http://shrutijalewar.github.io/oz', role='button', target='_blank')
      .buttons
        a(href='https://github.com/shrutijalewar/oz', target='_blank').fa.fa-github.fa.fa-3x
        a(href='http://shrutijalewar.github.io/oz', target='_blank').fa.fa-play.fa.fa-3x
    .col-sm-5
      h3 The Equilizer
      h5 Help Ms Ninja to fight for equal rights for women against the city's backdrop
      h5 Team: Liza Carter, Kayla Jones
      #roundup: a(href='http://shrutijalewar.github.io/roundup', target='_blank')
      .buttons
        a(href='https://github.com/shrutijalewar/roundup', target='_blank').fa.fa-github.fa.fa-3x
        a(href='http://shrutijalewar.github.io/roundup', target='_blank').fa.fa-play.fa.fa-3x
    .col-sm-1
  .row
    h2 Ionic Games
    .col-sm-1
    .col-sm-5
      h3 FluShot
      h5 Fight off the viral invasion in the body using the laser power from WBCs
      h5 Team: Brain Hiatt, Liza Carter, Michael Barreiro, Dennis Stanley
      #flushot
      .buttons#flu
        a(href='https://github.com/shrutijalewar/flushot', target='_blank').fa.fa-github.fa.fa-3x
        a(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpvirusgame730011&hl=en', target='_blank').fa.fa-android.fa.fa-3x

    .col-sm-5
    .col-sm-1
  .row
    h2 Node Apps
    .col-sm-1
    .col-sm-5
      h3 Hipsterbay
      h5 Ebay spin off to exchange goods with other hipsters.
      h5 Team: Dave Boling, Kayla Jones, Dennis Stanley
      #hipsterbay: a(href='http://hipsterbay.shrutijalewar.com', target='_blank')
      .buttons
        a(href='https://github.com/shrutijalewar/hipsterbay', target='_blank').fa.fa-github.fa.fa-3x
        a(href='http://hipsterbay.shrutijalewar.com', target='_blank').fa.fa-play.fa.fa-3x
    .col-sm-5
      h3 Unmarked White Van
      h5 A dating website for serial killers.
      h5 Team: Brain Hiatt, Liza Carter, Kayla Jones
      #uwv: a(href='http://uwv.shrutijalewar.com', target='_blank')
      .buttons
        a(href='https://github.com/shrutijalewar/white-van', target='_blank').fa.fa-github.fa.fa-3x
        a(href='http://uwv.shrutijalewar.com/', target='_blank').fa.fa-play.fa.fa-3x
    .col-sm-1
  
