#BG
  .row
    .col-xs-12
      h1 {{title}}
  .row
    .col-xs-1
    .col-xs-6
      #shruti
    .col-xs-4
      ul
        li: a(href='https://github.com/shrutijalewar', target='_blank').fa.fa-github.fa-3x &nbsp Github
        li: a(href='https://www.linkedin.com/in/shrutijalewar', target='_blank').fa.fa-linkedin-square.fa-3x &nbsp LinkedIn
        li: a(href='#').fa.fa-pencil-square.fa-3x &nbsp shrutijalewar@gmail.com
        li: a(href='https://twitter.com/shrutijalewar', target='_blank').fa.fa-twitter.fa-3x Twitter
    .col-xs-1
