#BG
  .row
    .col-xs-12
      h1 {{title}}
  .row
    .col-xs-1
    .col-xs-6
      #shruti
    .col-xs-4
        li: a(href='https://github.com/shrutijalewar', target='_blank').fa.fa-github &nbsp Github
        li: a(href='https://www.linkedin.com/in/shrutijalewar', target='_blank').fa.fa-linkedin-square &nbsp LinkedIn
        li: a(href='#', target='_blank').fa.fa-pencil-square &nbsp shrutijalewar@gmail.com
        li: a(href='https://twitter.com/shrutijalewar', target='_blank').fa.fa-twitter &nbsp Twitter
    .col-xs-1
