#BG {
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 800px;
}
#shruti {
  margin-top: 25px;
  background-image: url('../../assets/Shruti3.jpg');
  width: 300px;
  height: 250px;
  background-size: cover;
  margin-left: 3px;
  border-radius: 50px;
}
#contact {
  margin-left: 100px;
}
#contact a {
  color: #444444;
}
