#BG {
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 800px;
}
#shruti {
  margin-top: 25px;
  background-image: url('../../assets/Shruti3.jpg');
  width: 300px;
  height: 250px;
  background-size: cover;
  margin-left: 3px;
  border-radius: 50px;
}
p {
  margin-top: 35px;
  font-size: 16px;
  padding: 10px;
  width: 300px;
}
#contact {
  margin-top: 10px;
  margin-left: 100px;
}
#contact a {
  color: #444444;
}
#contact a:hover {
  text-decoration: none;
  color: red;
}
#skills {
  margin-top: 30px;
  margin-left: 15px;
}
#line {
  width: 650px;
  height: 4px;
  background-color: #444444;
}
.bottom {
  margin-top: 70px;
}
.top {
  margin-top: 20px;
}
