#BG {
  background-image: url('../../assets/BG.JPG');
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 800px;
}
#shruti {
  background-image: url('../../assets/shruti.jpg');
  width: 350px;
  height: 300px;
  background-size: cover;
  margin-left: 3px;
}
