#BG {
  background-image: url('../../assets/roads.jpg');
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 800px;
}
#BG h1 {
  color: #4d4dff;
}
#shruti {
  background-image: url('../../assets/shruti2.png');
  width: 200px;
  max-height: 250px;
  background-size: contain;
  margin-left: 3px;
  border-radius: 50%;
}
