@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
* {
  font-family: 'Montserrat', sans-serif;
  color: #444444;
}
.navbar.navbar-default {
  margin-bottom: 0px;
  background-color: white;
  text-align: center;
  font-size: 20px;
  border: 0px;
  border-radius: 0px;
}
.panel-footer {
  background-color: white;
  border: 0px;
  border-radius: 0px;
  text-align: center;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
