@import url(http://fonts.googleapis.com/css?family=Courgette);
* {
  font-family: 'Courgette', cursive;
  font-color: red;
}
body {
  background-color: #ffffff;
}
.navbar {
  margin-bottom: 0px;
  background-color: #0074d9;
  color: #111111;
  text-align: center;
  font-size: 20px;
}
.panel-footer {
  background-color: #0074d9;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
