@import url(http://fonts.googleapis.com/css?family=Courgette);
* {
  font-family: 'Courgette', cursive;
  color: #001f3f;
}
body {
  background-color: #ffffff;
}
.navbar.navbar-default {
  margin-bottom: 0px;
  background-color: #0074d9;
  color: #001f3f;
  text-align: center;
  font-size: 20px;
  border: 0px;
  border-radius: 0px;
}
.panel-footer {
  background-color: #0074d9;
  border: 0px;
  border-radius: 0px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
