#oz {
  background-image: url('../../assets/oz.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#roundup {
  background-image: url('../../assets/roundup.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#flushot {
  background-image: url('../../assets/influenza.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#uwv {
  background-image: url('../../assets/uwv.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#capstone {
  background-image: url('../../assets/capstone.jpg');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.play {
  margin-left: 5px;
}
