#PG {
  margin: 0;
  width: 100%;
  height: 1600px;
}
#PG h1 {
  margin-left: 50px;
}
#PG h2 {
  margin-left: 90px;
}
#oz {
  background-image: url('../../assets/oz.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#roundup {
  background-image: url('../../assets/roundup.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#flushot {
  background-image: url('../../assets/influenza.png');
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 80px;
}
#flu {
  margin-left: 105px;
}
#hipsterbay {
  background-image: url('../../assets/hipsterbay.jpg');
  width: 350px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#hipsterbay .buttons {
  margin-left: 75px;
}
#uwv {
  background-image: url('../../assets/uwv.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#capstone {
  background-image: url('../../assets/caps.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#nash {
  background-image: url('../../assets/nash.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#nash .buttnash {
  margin-left: 90px;
}
.buttons {
  padding: 15px;
  margin-left: 120px;
}
.buttons a {
  margin: 10px;
  color: #444444;
}
.buttons a:hover {
  colour: red;
  text-decoration: none;
  color: red;
}
.pro {
  background-color: #e6e6e6;
}
.pro h1 {
  margin-left: 20px;
}
h2 {
  margin-left: 20px;
}
.box {
  margin: 30px;
  border: 2px solid #e6e6e6;
  padding: 30px;
  width: 440px;
  height: 480px;
  background-color: #e6e6e6;
}
