#PG {
  margin: 0;
  width: 100%;
  height: 1600px;
}
#PG h1 {
  margin-left: 15px;
}
#PG h2 {
  margin-left: 30px;
}
#oz {
  background-image: url('../../assets/oz.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#roundup {
  background-image: url('../../assets/roundup.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#flushot {
  background-image: url('../../assets/influenza.png');
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#flu {
  margin-left: 45px;
}
#hipsterbay {
  background-image: url('../../assets/hipsterbay.jpg');
  width: 350px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#hipsterbay .buttons {
  margin-left: 75px;
}
#uwv {
  background-image: url('../../assets/uwv.png');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
#capstone {
  background-image: url('../../assets/capstone.jpg');
  width: 350px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.play {
  margin-left: 5px;
}
.buttons {
  padding: 5px;
  margin-left: 30px;
  align: center;
}
.buttons a {
  align: center;
  color: #444444;
}
.buttons a:hover {
  colour: red;
  text-decoration: none;
  color: red;
}
.pro {
  background-color: #cdcdcd;
}
.pro h1 {
  margin-left: 20px;
}
h2 {
  margin-left: 20px;
}
.box {
  border: 2px solid #1a1a1a;
  padding: 30px;
  width: 440px;
  height: 440px;
}
